@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', 'Lora', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.fw-400 {
    font-weight: 400;
}

.my-nav-color {
    background-color: #fff!important;
}

.navbar-brand, .nav-link, .navbar-toggler {
    color: #051009!important;
}

.nav-link:hover {
    background-color: #f8f9fa;
}

.logo {
    display: inline-block;
    width: 40px;
    background: #18a2b8;
    color: white!important;
    font-weight: bold;
    height: 40px;
    text-align: center;
    border-radius: 25%;
}

.footer {
    background-color: #184E2B;
    color: white;
    margin-top: 5em;
}

.footer-brand.logo {
    display: grid;
    place-content: center;
    font-size: 1.3rem;
    background: white;
    color: #18a2b8 !important;
    margin-top: 0.5rem;
}

.footer-brand.logo:hover {
    text-decoration: none!important;
}

.footer-brand {
    color: white;
}

.footer-follow p {
    margin-bottom: 0px;
}

body {
    color: rgba(41, 41, 41, 1);
    position: relative;
}

.container {
    /* outline: 1px red solid; */
}

.navbar-brand img {
    border-radius: 50%;
    /* outline: 1px red solid; */
}

.jumbo {
    /* display: flex; */
    position: relative;
    /* overflow: hidden; */
}

.jumbo p {
    color: #05100970;
    /* line-height: 2em; */
}

.lobster-font {
    font-family: 'Lora', sans-serif;
}

.jumbo-social {
    font-size: 1em;
}

.jumbo::before {
    content: '';
    background: #EFFAF3;
    width: 100%;
    height: 120%;
    position: absolute;
    top: -65%;
    left: 0;
    transform: skewY(-20deg);
    z-index: -1;
    /* outline: 1px red solid; */
}

.card {
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 1rem gray;
}

.card-date {
    filter: contrast(40%);
}

.card-title {
    font-weight: bold;
}

.text-lighter {
    color: dimgrey;
}

.grid-sizer,
.grid-item
{ 
    width: 100%; 
    height: auto;
}

.grid-item {
    margin-bottom: 10px;
}

.main-about {
    display: grid;
    /* place-items: center; */
    align-content: center;
    line-height: 2em;
}

.working-experience {
    font-size: smaller;
    color: dimgrey;
}

.contact-img {
    border-radius: 50%;
    max-height: 30vh;
}

.article-text-color {
    color: rgba(41, 41, 41, 1);
}

.article p {
    line-height: 1.8em;
    margin-top: 1.8em;
}

.article-image {
    margin-top: 3em;
}

.author-info {
    margin-top:1.8em;
    color: gray;
    display: flex;
    align-items: center;
}

.author-social {
    margin-top: 1.8em;
}

.author-img {
    width: 48px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid white;
    top: 2px;
    left: 2px;
}

.author-img-border {
    display: inline-block;
    position: relative;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 1em;
    background: linear-gradient(25deg, #18a2b8, white 45% 55%, #18a2b8);
}


@media (min-width: 576px) {
    /* .card-columns {
        column-count: 2;
    } */
    .grid-sizer,
    .grid-item
    {
        width: 49%;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 4em;
    }
    .jumbo p {
        line-height: 2em;
    }
    .sidebar {
        margin-top: 1em;
    }
}